* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  /* background: red; */
}
.container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  height: 50px;
  width: 15%;
  background: hsl(240, 100%, 50%);
  margin: 5px;
}
/** animation-iteration-count */
#animationCount {
  animation: colorchange 2s ease;
  animation-iteration-count: 3;
}
@keyframes colorchange {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
/** caret-color */
#caretColor {
  background: hsl(200, 100%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
#caretColor input {
  width: 90%;
  caret-color: hsl(0, 100%, 50%);
  padding: 2px;
}
/** ::selection */
#selection {
  background: hsl(160, 100%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
#selection p::selection {
  background-color: hsl(60, 100%, 50%);
  color: hsl(0, 100%, 50%);
}

/**box shadow */
#boxShadow {
  background: hsl(120, 100%, 50%);
  box-shadow: 2px 2px 2px 2px hsl(0, 0%, 90%);
  transition: box-shadow 2s ease;
}
#boxShadow:hover {
  box-shadow: 7px 7px 2px 2px hsl(0, 0%, 30%);
}

/**min()  */
#minCond {
  background: hsl(80, 100%, 50%);
  width: min(200px, 20%);
}

/** clamp() */
#clampCond {
  width: clamp(100px, 80%, 300px);
  background: hsl(40, 100%, 50%);
}

/** flex(1,1,auto) */
#flex {
  background: hsl(0, 100%, 50%);
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 200px;
}

/** overflow-y */

#overflow {
  width: 25%;
  padding: 2px;
  background: hsl(320, 100%, 50%);
  overflow-y: auto;
}

/** repeat(auto-fill or auto-fit) */
#repeat-fill {
  background: hsl(280, 100%, 50%);
  width: 90%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  grid-gap: 10px;
  padding: 5px;
}
#repeat-fit {
  background: hsl(280, 100%, 50%);
  width: 90%;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-gap: 10px;
  padding: 5px;
}

#repeat-fill div,
#repeat-fit div {
  background: hsl(0, 100%, 50%);
}
